li.js-nav-student-tasks
  = link_to t('views.layouts.navigation.student_tasks.title'), student_url
li.js-nav-user-free-reports
  = link_to t('activerecord.models.user_free_report'), student_user_free_reports_url
